:root {
    --yellow: #ffc600;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {    
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, indigo, coral);
    grid-template-rows: repeat(5, 1fr);
}

img {
    max-width: 100%;
}

button {
    background: var(--yellow);
    border: 0;
    padding: 10px 20px;
}
  

/*-- page grid container --*/
.container {
    /* height: 100%; */
    display: grid;
    border: 1px solid black;
    grid-gap: 20px;
    padding: 20px;
}

/*-- header --*/

.top {
    display: grid;
    grid-template-areas: 
        "header header"
        "pc1 pc2";
    grid-gap: 20px;
}

header {
    grid-area: header;
    min-height: 400px;
    background: white url('../images/taco.jpg') no-repeat;
    background-size: cover;
    background-position: bottom right;
    padding: 50px; 
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: flex-start;
}

header * {
    background: var(--yellow);
    padding: 5px;
}

.pc {
    background: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pc p {
    margin: 0;
}

.pc1 {
    grid-area: pc1;
}

.pc2 {
    grid-area: pc2;
}

.price {
    font-size: 60px;
    font-weight: 300;
}

@media (min-width: 900px) {
    .top {
        display: grid;
        grid-template-areas: 
            "header header pc1"
            "header header pc2";
        grid-gap: 20px;
    }
    
}

/*-- Navigation Menu --*/

.menu {
    grid-row: 1 / 2;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none; 
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));

    max-height: 0;
    transform: rotateX(90deg);
}

.menu a {
    background: var(--yellow);
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

[aria-controls="menu-list"] {
    display: block;
    margin-bottom: 10px;
}

[aria-expanded="false"] .open {
    display: none;
}

[aria-expanded="true"] .close {
    display: none;
}

[aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
}


@media (min-width: 900px) {
    .menu { 
        grid-row: 2 / 3;
    }

    .menu ul {
        display: grid;
        transform: none;
        max-height: inherit;       
    }

    [aria-controls="menu-list"] {
        display: none;
    }
}

/*-- Features--*/

.features {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
 grid-gap: 20px;
}

.feature {
    padding: 20px;
    background: white;
   text-align: center;
}

.feature p {
    font-weight: bold;
    color: rgba(0,0,0,0.5);
}

.feature .icon {
    font-size: 50px;
}

@media (min-width: 600px) {
    .features { 
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));  
    }
}

/*-- About--*/

.about {
    background: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    font-weight: bold;
}

.about_details {
    align-self: center;
}

@media (min-width: 600px) {
    .about { 
        grid-template-columns: 400px 2fr;
        grid-template-rows: 1fr;
    }
}


/*-- Gallery--*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
}

.gallery h2 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 10px;
}

.gallery h2::before, .gallery h2::after {
    display: block;
    content: '';
    background: linear-gradient(var(--direction, to left), var(--yellow), transparent);
}

.gallery h2::after { 
    --direction: to right;
}





